* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
}

#showcase {
    background: white;
    height: 100vh;
    color: black;
}
#showcase .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

#showcase .content img {
    width: 300px;
    margin-bottom: 10px;
}

.input-box input {
    width: 500px;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 35px;
    border: 1.5px solid rgba(0, 0, 0, .2);
    padding: 20px 45px 20px 20px;
    color: rgb(11, 4, 4);

}

.input-box input::placeholder {
    color: rgb(6, 5, 5); 
}




#navbar {
    background-color:  #D5D3D0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar .logo {
    padding-left: 1.5rem;
    align-self: center;
}

#navbar ul {
    display: flex;
    list-style-type: none;
}



#navbar ul li a {
    display: flex;

    color: black;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    margin: 10px 10px;

}

#navbar ul li a i {
    margin-right: 8px;
}
#navbar .logo i {
    margin-right: 8px;
}

#navbar ul li a:hover {
    border-radius: 10px 10px;
    background-color: #A7BEC7;

}